*{
    box-sizing: border-box;
}

h1 {
    font-family: 'Recursive', sans-serif;  
}

h2 {
    font-family: 'Recursive', sans-serif;  
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(116, 116, 116);
}
img {
    border-style: solid;
    border-color: white;
    border-width: 5px;
}

