*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    display: block;
    transition: .5s ease;
    filter: saturate(1);
    backface-visibility: hidden;
    border-radius: 5%;
}

a:hover img {
    filter: saturate(0);
}

.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    margin-left: 7vw;
    margin-right: 7vw;
}

.column{
    flex: 25%;
    padding: 5px;
}

.column img{
    margin-top: 5px;
}

@media (max-width: 600px) {
    .column{
        flex: 50%;
    } 
}

@media (max-width: 600px) {
    .column{
        flex: 100%;
    } 
}

h1 {
    text-align: center;
    font-size: 55px;
    font-family: "Arial Black", sans-serif;
    padding-top: 3vw;
}

h2 {
    text-align: center;
    font-size: 28px;
    color: rgb(116, 116, 116);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.centro {
    transition: .10s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }

.contenedor {
        position: sticky;
        width: 100%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

  .contenedor:hover .img {
    opacity: 0.3;
  }
  
  .contenedor:hover .centro {
    opacity: 1;
  }

  .texto {
    background-color: #ebf190;
    opacity: 80%;
    color: black;   
    font-size: 16px;
    padding: 16px 30px;
  }

  .menu{
    list-style: none;
    padding: 0;
    background: white;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}

.menu li a{
    text-decoration: none;
    color: rgb(116, 116, 116);
    padding: 20px;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    background: #e8e8e8;
}

article {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    margin-bottom: 12rem;
    margin-top: 1rem;
    margin-left: 37rem;

  }
  
  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }

  iframe{
      margin-left: 27rem;
      margin-top: 2rem;
  }